main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3E94EC;
  font-family: 'Roboto Condensed', sans-serif;
  width: 876px;
  height: 600px;
}

table {
  border-collapse: collapse;
}

td, th {
  width: 300px;
  height: 36px;
}

td, th {
  border: 2px solid #BEC1CF;
  font-size: 22px;
}

thead tr th:first-child,
th {
  border-top: 0;
  border-bottom: 4px;
  border-style: solid;
  border-color: #9EA7AF;
  color: #9EA7AF;
  background: black;
  text-align: left;
}

td,th {
  padding: 15px;
}

tr th:first-child,
tr td:first-child {
  border-left: 0;
}

 tr th:last-child,
 tr td:last-child {
  border-right: 0;
}

tbody tr:last-child  td:first-child {
  border-bottom: 0;
}

tbody tr:last-child td:last-child {
  border-bottom: 0;
}

/* --- kerektés --- */

tr th:first-child {
  border-top-left-radius: 5px;
}

tr th:last-child {
  border-top-right-radius: 5px;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

.white {
  background: white;
  color: gray;
}

.gray{
  background: #EBEBEB;
  color: gray;
}
