h1, h2 {text-align: center;}

.content {
  background: green;
  text-align: center;
  margin: 20px auto;
  padding: 18px 10px;
  height: 225px;
  width: 300px;
}

.content1 {
  background: green;
  text-align: center;
  margin: 20px auto;
  padding: 18px 10px;
  height: 225px;
  width: 300px;
}

.cube1 {
  text-align: left;
  color: blue;
  background: yellow;
  padding: 15px 10px;
  width: 240px;
  font-size: 30px;
  border: 4px solid black;
  margin: 0px 10px 0 10px;
}

.cube2 {
  text-align: left;
  color: blue;
  background: yellow;
  padding: 15px 10px;
  width: 240px;
  font-size: 30px;
  border: 4px solid black;
  margin: 0px 10px 0 10px;
}
