body {
  background: white;
  padding: 10px auto;
  margin: 0 auto;
  }

.headerstyle {
  color: black;
  text-align: justify;;
  height: 140px;
  margin: 0 auto;
  padding: 236px 290px   40px;
  /*font-family: 'Slabo 27px', serif;*/
  font-family: 'Abril Fatface', cursive;
}

h1 {font-size: 70px;}

h2 {font-size: 40px;}

.h2H {
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
}

h1,h2 {
  font-family: 'Abril Fatface', cursive;
  color: #222;
  margin: 0;
  padding: 0;
}

h3,h4 {
  font-family: 'Josefin Sans', sans-serif;
  color: black;
}


h4 {
  font-size: 18px;
  font-style: italic;
}

header {
    height: 405px;
    width: 1281px;
    margin: 0 auto;
  /*  padding: 0 50%;*/
    background: url(anakin.png) center;
    background-size: cover;
    text-align: center;
  }

#main {
  font-family: 'Josefin Sans', sans-serif;
  color: grey;
  height: 3150px;
  width: 1281px;
  /*max-width: 810px;*/
  background:  white;
/*  padding: 0 auto;*/
/*  box-shadow: 13px 1px 42px 22px rgba(0,0,0,0.75);*/
  margin: 0 auto;
  font-family: 'Slabo 27px', serif;

}



.content {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  width: 810px;
  margin: 0 auto;
  padding: 30px 70px;
  text-align: justify;
}

article {
  color:black;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 170%;
  /*width: 722px;*/
  margin: 50px 51px;
  padding: 28px 20px;
}

#article2 {
  font-size: 17px;
  line-height: 150%;
}

.elso {
  font-weight: bold;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}


.kiemelesCim {
  /*width: 810px;*/
  margin: -27px;
  background: #444444;
  color: white;
  font-family: 'Abril Fatface', cursive;
  font-size: 50px;

  position: relative;
  padding: 10px;
  margin: 17px;

}

.kiemelesCim span {
  font-size: 120px;
  top: 10px;
  left: -138px;
  /*display: inline;
  float: left;*/
}

hr {
  width: 700px;
  height: 3px;
  background: black;
  margin: 0 -14px;
}
