body {

  margin: 0;
  padding: 0;
  font-family: 'Droid Serif', serif;
}


main {
  display: flex;
  flex-wrap: wrap;
}

.flex-mid {
  width: 83%;
  display: flex;
  flex-wrap: wrap;
}

/* Left nav Style */

#left {
  display:  flex;
  flex: 0 0 180px;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top, rgba(246,246,246,1) 80%,rgba(255,255,255,1) 100%);
}


/* Nav left style Start */

.imgBackground {
  width: 140px;
  margin: 0 15px;
  height: 165px;
  background-image: url("../img/wikilogo.png");
  background-repeat: no-repeat;x;
  background-size: 100%;
}

#left section h1 {
  margin: 0 8px 0 0;
  font-size: 12px;
  font-weight:  normal;
}

#left section ul {
  padding: 5px;
}

#left section ul li {
  list-style-type: none;
}

#left section ul li a {
  text-decoration: none;
  font-size: 11px
}

.row ul:last-of-type {
  border-bottom: 1px solid gray;
}

.sixth ul:last-of-type{
  border:0;
}

.sixth {
  padding-left: 10px;
}

.sixth blockquote {
  font-size: 12px;
}

/* End of lest Style */

/*Top Nav design */

#top {
  display: flex;
  flex: 1 83%;
  width: 100%;
  height: 75px;
  background: red;
}

/*End of top nav design */

.main-content {
  flex: 1 100%;
  background: gray;
}
