body {

  margin: 0;
  padding: 0;
  font-family: 'Droid Serif', serif;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.flex-mid {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/* Left nav Style */

.leftNAV {
  flex: 0;
}

.leftNav {
  display:  flex;
  flex: 0 0 180px;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top, rgba(246,246,246,1) 80%,rgba(255,255,255,1) 100%);
}


/* Nav left style Start */

.imgBackground {
  width: 140px;
  margin: 0 15px;
  height: 165px;
  background-image: url("../img/wikilogo.png");
  background-repeat: no-repeat;x;
  background-size: 100%;
}

.leftNav section h1 {
  margin: 0 8px 0 0;
  font-size: 12px;
  font-weight:  normal;
}

.leftNav section ul,
.flex-mid ul {
  padding: 5px;
}

.leftNav section ul li,
.flex-mid ul li {
  list-style-type: none;
}

.leftNav section ul li a,
.flex-mid ul li a {
  text-decoration: none;
  font-size: 11px
}

.row ul:last-of-type {
  border-bottom: 1px solid gray;
}

.sixth ul:last-of-type{
  border:0;
}

.sixth {
  padding-left: 10px;
}

.sixth blockquote {
  font-size: 12px;
}

/* End of lest Style */

/*Top Nav design */

.topNav {
  display: flex;
  justify-content: space-between;
  flex: 1 83%;
  width: 100%;
  height: 75px;
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 51%,rgba(243,243,243,1) 90%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
}

.topNav ul li {
  font-size: 12px;
  font-weight: normal;
  display: inline;
  padding: 5px;
  margin: 1px;
}

.topNav ul {
  padding: 2px;
  margin: 2px;
}

/* Topon belüli flexek */

.cim {
  flex-grow: 8;
  flex-direction: column;
  align-items: flex-end;
}

/* Címen belüli flex */

.nav-topLFLX {
  height: 75px;
  align-items: flex-end;
}

.nav-topRFLX {
  align-items: flex-end;
  height: 75px;
}

.nav-topLFLX, .nav-topRFLX {
  display: flex;
}

/*Címen belüli flex vége */

/* rightbar flex atrr*/

.rightBar {
  flex-grow: 0;
}

.search-rightbar {
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
}

.search-rightbarInnerTop {
  width: 100%;
}

.search-rightbarInnerTop ul {
  padding: 2px;
  margin: 2px;
}

.search-rightbarInnerBot {
  width: 100%;
  position: relative;
}

input[type="search"] {
  padding: 0;
  margin-top: 23px;
  width: 98%;
  background: -webkit-linear-gradient(top, rgba(243,243,243,1) 13%,rgba(243,243,243,1) 13%,rgba(255,255,255,1) 51%,rgba(255,255,255,1) 100%);
  position: relative;
}

input[type="button"] {
  padding: 0;
  margin: 0;
  height: 19.5px;
  top: 23px;
  position: absolute;
  right: 0;
  background: -webkit-linear-gradient(top, rgba(243,243,243,1) 13%,rgba(243,243,243,1) 13%,rgba(255,255,255,1) 51%,rgba(255,255,255,1) 100%);
  border-left: 1px solid #F5F5F5;
  border-bottom: 1px solid #F5F5F5;
}


/*Topon belüli flex END */

/*End of top nav design */

.main-content {
  flex: 1 1 100%;
  background: gray;
}
