body {
  background-image: url('./img/background.jpg');
  /*background-position: center;*/
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 100vh;*/
  /*overflow: hidden;*/
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 570px;
  margin: 5rem auto;
  font-size: 12px;
  background-color: #F5F5F5;
  box-shadow: 1px 5px 17px 0px rgba(0,0,0,0.75);
}

.logo {
  /*border: 1px solid red;*/
  width: 152px;
  height: 72px;
  background-image: url('./img/foxplayer.png');
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #F5F5F5;
}


.current-play {
  /*border: 1px solid red;*/
  height: 48px;
  width: 414px;
  display: flex;
  background-color: #F5F5F5;
}

.current-play img {
  margin: 0;
  padding: 0;
  width: 125px;
  height: 115px;
  position: relative;
  z-index: 99;
}

.current-play-inner {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.current-play-inner-title h2 {
  width: 100%;
  color: #626262;
  margin: 5% 2% 0 4%;
  font-weight: normal;
  padding: 0;
  font-size: 1.2em;
}

.current-play-inner-title p {
  font-size: 0.98em;
  margin: 2% 2% 2% 4%;
  opacity: 0.5;
}

.current-play-inner-icon-container {
  display: flex;
  flex: 4;
  justify-content: flex-end;
  align-items: center;
}

.playlist {
  /*border: 1px solid red;*/
  width: 275px;
  height: 182px;
  background-color: #F5F5F5;
}

.playlist-inner {
  display: flex;
}

.ion-android-add {
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 54px;
}

.ion-android-star-outline {
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2%;
}

.star {
  /*font-size: 20px;*/
  background-color: transparent;
  border: none;
  background-image: url('img/star.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 22px;
  height: 22px;
  margin-left: 5px;
}

.padding-clear {
  padding: 0;
}

.gray {
  background-color: #EAEAEA;
}

.lightergray {
  background-color: #F5F5F5;
}

.playlist p, .playlist h2 {
  padding: 3%;
  margin: 0;
}

.playlist h2 {
  font-weight: normal;
  font-size: 1rem;
}

.tracks {
  /*border: 1px solid red;*/
  width: 290px;
  height: 218px;
  background-color: #EAEAEA;
  margin-top: -26px;
}

.tracklist-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.tracklist-inner:hover {
  background-color: #ABE7E5;
}

.tracklist-inner-style {
  display: flex;
  justify-content: space-around;
    /*flex: 1;*/
}

.tracklist-inner-style p {
  /*margin-right: 2px;*/
}

.tracks p {
  /*display: flex;*/
  margin-left: 5px;
  /*padding: 3%;*/
 }

.mscplayer {
  width: 570px;
  height: 42px;
  display: flex;
  /*border: 1px solid blue;*/
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 30px;
}

.controls button, .bonus-buttons button {
  margin: 5%;
  border: none;
  display: block;
  background-color: #F5F5F5;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.reverse, .forward {
  width: 18px;
  height: 15px;
}
.reverse {
  background-image: url('./img/rewind.svg');
}

.forward {
  background-image: url('./img/forward.svg');
}

.play, .pause {
  background-image: url('./img/play.svg');
  background-size: 20px;
  width: 25px;
  height: 20px;
}

.pause {
  background-image: url('./img/pause.svg');
  background-size: 15px;
}

.bonus-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 2%;
}

.shuffle {
  background-image: url('./img/shuffle.svg');
  margin: 0;
  width: 15px;
  height: 15px;
}

.rangeslider {
  width: 100%;
  /*margin-left: 5%;*/
  padding-top: 0.5%;
  display: flex;
  flex-wrap: nowrap;
}

.currentTime {
  margin: 3.5%;
}
