main {
  margin: 0 auto;
  width: 755px;
  background: #DCD6CD;
  padding: 50px 100px;
  font-family: 'Montserrat', sans-serif;
}

main > h1 {
  margin: 0;
  padding-left: 30px;
  font-size: 28px;
}

form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1 1 0;
}

.nevKapcs, .kapcs {
  font-size: 18px;
  font-weight: normal;
  background: #938c97;
  width: 220px;
  color: white;
  height: 30px;
  width: 300px;
  padding-left: 10px;
  margin-right: 0;
}

.first-column, .second-column, .third-column  {
  width: 327px;
  padding: 25px;
}

label {
  font-size: 12px;
  display: block;
}

label[checkbox] {
  display: inline-block,
}

 blockquote {
  padding: 0;
  margin: 0;
}

 blockquote::after {
  content: "*";
  color: red;
}

input[type="text"],
input[type="email"],
input[type=url],
select
 {
  width: 300px;
  height: 25px;
}

.szulnevNem {
  display: flex;
  justify-content: space-between;
}

.szulnevNem input {
  width: 60px;
}

.nemed {
  display: flex;
  justify-content: center;
  width: 50%;
  flex-wrap: wrap;
}

.szazSzPoz {
  width: 100%;
  height: 20px;
  text-align: justify;
}

.szazSzPoz h1 {
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.checkboxWMFuck label {
  display: inline-block;
}

.checkboxWMFuck input {
  width: 30px;
}

.checkboxWMFuck {
  margin-bottom: 2px;
  margin-top: 0;
}

.nemed h1 {
  font-size:
}

.checkbox > h1, h2 {
  font-size: 12px;
}

.checkbox h2 {
  opacity: 0.5;
}

.markaCol {
  display: flex;
}

.markaCol label {
  display: inline-block;
  width: 130px;
}

.markbelso1  {
  display: inline-block;
  width: 50%;
}

.markbelso2  {
  display: inline-block;
  width: 50%;
}

.second-column section {
  margin-top: 15px;
}

 .first-column section {
  margin-top: 10px;
 }

 .third-column {
   width: 100%;
 }

 .third-column input {
  width: 100%;
  height: 100px;
 }

.fourth-column {
  width: 100%;
  padding-left: 25px;
}
