.title {color: blue;}

.title2 {color: orange;}

.blue {list-style-type: square;}

.blue li {color:blue;}

.black li {color:black;}

.black {list-style-type: disc;}

.black li:first-child {color:red;}

#fekete li {color: black;}
